<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="Nav">
        <a href="#" id="brand">NAV</a>
        <ul id="nav-mid">
            <li><a href="#Bg1" class="lt">Model X</a></li>
            <li><a href="#Bg2" class="lt">Model 3</a></li>
            <li><a href="#Bg3" class="lt">Model S</a></li>
        </ul>
        <ul id="nav-right">
            <li><a href="shop" class="lt">Shop</a></li>
            <li><a href="login" class="lt">Log In</a></li>
            <li><a href="signup" class="lt">Sign Up</a></li>
            <li><a href="emplogin" class="lt">Employee Log In</a></li>
        </ul>
    </div>

    <div class="Models">

        <div id="Bg1" class="section">
            <div class="Car" >
                <h1 class="M-name">Model X</h1>
                <!-- <p class="Tag">Order Online for <span  class="line">Touchless Delivery</span></p> -->
                <div class="btns">
                  <button class="btn1">Buy</button>
                </div>
                <img src="../Images/down-arrow.png" alt="down-arrow" class="arrow">
            </div>
        </div>

        <div id="Bg2" class="section">
            <div class="Car" >
                <h1 class="M-name">Model 3</h1>
                <!-- <p class="Tag">Order Online for <span  class="line">Touchless Delivery</span></p> -->
                <div class="btns">
                  <button class="btn1">Buy</button>
                </div>
                <img src="../Images/down-arrow.png" alt="down-arrow" class="arrow">
            </div>
        </div>

        <div id="Bg3" class="section">
            <div class="Car" >
                <h1 class="M-name">Model S</h1>
                <!-- <p class="Tag">Order Online for <span  class="line">Touchless Delivery</span></p> -->
                <div class="btns">
                    <button class="btn1">Buy</button>
                </div>
            </div>
        </div>

    </div>
    <!-- <section style="background-image: url('Images/model-x.jpg')"> </section>
    <section style="background-image: url('Images/model-3.jpg')"> </section>
    <section style="background-image: url('Images/model-s.jpg')"> </section> -->


    <script src="../Js/main.js"></script>
</body>
</html>