<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="css\login.css">
</head>
<body>

    <form action = "/login" method = "post" class="page">
        <div class="right">
            <div class="form">
                <h2 class="head">Log in</h2>
                <input class="user" type="text" placeholder="Username" name = "user">
                <input class="pass" type="text" placeholder="Password" name = "pass">
                <button class="btn" type="submit">Sign in</button>
            </div>
        </div>
    </div>
    
</body>
</html>