<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <div style="height: 100vh;" class="row valign-wrapper">
        <form class="col s6 offset-s3" method = "post" action = "/service">
          <div class="row">
            <div class="input-field col s12">
                <h5 class="center-align">Service form</h5>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="textarea1" class="validate" type = "text" name = "city">
              <label for="textarea1">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="textarea1" class="validate" type = "text" name = "state">
              <label for="textarea1">State</label>
            </div>
          </div>
          <div>
            <button>
                Book
            </button>
          </div>
        </form>
      </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>